<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <withJansi>true</withJansi>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>


    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.kestra" level="INFO"/>
    <logger name="flow" level="INFO"/>

</configuration>
